{% for row in productlist %}
<div class="col-md-3 mt-5">
     <div class="card-sl" style="width: 100%;height: 280px;">

          <div class="card-image">
               <center><img src="{{row.img_list}}" width="200" height="150"></center>
          </div>

          <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
          <div class="card-heading">
               <small id="product_name">{{row.product_name}}</small>
          </div>
          <div class="card-text">
               <h4 style="color: #000080;"><b>฿{{row.price}}</b></h4>
          </div class="card-footer">
          <a href="{{url_for('detail_product',id=row.product_id)}}" class="card-button">รายละเอียดสินค้า</a>
     </div>
</div>
</div>
{% endfor %}
<br>
</div>
{{ pagination.links }}
</div>